* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: 0.10s;
}
.nav-links ul li :hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px; 
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: aliceblue;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid aliceblue;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid salmon;
    background: palevioletred;
    transition: 2s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 24px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: plum;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 2s;
    }
    nav .fa{
        display: block;
        color: aliceblue;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10%;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.cou-col{
    flex-basis: 31%;
    background: wheat;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.cou-col:hover{
    box-shadow: 0 0 20px 0px rgba(4,9,30,0.7);
}
.show{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.show-col{
    flex-basis: 30%;
    border-radius: 10%;
    margin-bottom: 10%;
    text-align: left;
    padding-top: 50px;
}
.show-col img{
    width: 100%;
    border-radius: 10px;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.camp{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.camp-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30%;
    position: relative;
    overflow: hidden;
}
.camp-col img{
    width: 100%;
    display:block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.8s;
}
.layer:hover{
    background: rgba(4,9,30,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: aliceblue;
    font-size: 30px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.testte{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

}
.testte-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: peachpuff;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testte-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testte-col h3{
    margin-top: 15px;
    text-align: left;
}
@media(max-width: 700px){
    .testte-col img{
        height: 40px;
        margin-left: 5px;
        margin-right: 30px;
        border-radius: 50%;
    }
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: aliceblue;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.fa {
    background: white;
    color: palevioletred;
    padding: 1px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 1px 2px;
    border-radius: 20%;
}
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: aliceblue;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col p{
    padding: 15px 0 25px;
}
.about-col h1{
    padding: 15px 0 25px;
}
.about-us img{
    width: 100%;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border:#222;
    outline:invert;
    background: #f0f0f0;
    border-radius: 10px;
}
@media (max-width: 700px){
    .sub-header h1{
        font-size: 24px;
    }
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}